<div class="videoContainer">
  <div class="download">
    <button type="button" class="btn btn-success" [disabled]="downloading" (click)="handleDownload(video.id.videoId)">
      <span *ngIf="downloading === false; else showLoading">Download</span>
      <ng-template #showLoading>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </ng-template>
    </button>
  </div>
  <youtube-player [videoId]="video.id.videoId" [height]="400" [width]="680"></youtube-player>
</div>